/* Add scss */
:root {
  --background-grey: #242424;
  --cursor: url('/cursors/cursor.png'), auto;
  --pointer: url('/cursors/pointer.png'), auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #ffffffde;
  background-color: #080808;
  cursor: var(--cursor);

}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
main,
p,
a,
pre,
code,
div,
span,
table,
td,
tr,
th {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace, sans-serif;
  letter-spacing: 1px;
}